/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#my-header {
  display: flex;
  justify-content: center;
  border: none;
}
#my-header #header-info h1,
#my-header p {
  margin: 1%;
  color: white;
  font-size: xx-large;
}
@media (max-width:500px) {
  #my-header #header-info h1,
  #my-header p {
    font-size: 100%;
  }
}
#my-header header {
  width: 60%;
  background-color: #a599b5;
}
#my-header header h1 {
  margin-top: 1%;
}
#my-header header p {
  font-size: 0.7rem;
  margin-top: 0.2%;
}
#my-header header nav {
  display: flex;
  justify-content: flex-end;
}
#my-header header nav a {
  padding: 0 8% 1% 0;
  margin-top: 2%;
  text-decoration: none;
  color: white;
}
#my-header header nav #header-info {
  display: flex;
  justify-content: center;
}
@media (max-width:500px) {
  #my-header header nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#my-header header nav :hover {
  color: #acbdba;
}
body {
  background-color: #cddddd;
}
h1 {
  font-size: 3rem;
}
@media (max-width:500px) {
  h1 {
    font-size: 1.6rem;
  }
}
@media (max-width:1000px) {
  h1 {
    font-size: 2rem;
  }
}
h3 {
  font-size: 1.6rem;
  text-align: left;
}
@media (max-width:500px) {
  h3 {
    font-size: 1.4rem;
  }
}
@media (max-width:1000px) {
  h3 {
    font-size: 1.8rem;
  }
}
.head-container {
  color: white;
  background: #a599b5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.head-container .logo {
  width: 28%;
  margin: 2%;
  font-size: 3.5rem;
  justify-content: center;
  align-items: center;
}
.head-container .Nav {
  width: 100%;
}
.head-container .Nav nav {
  font-size: 1.6rem;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.head-container .Nav nav a {
  width: 18%;
  font-size: 1.2rem;
  color: white;
  background: ;
  padding: 22px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  border: inset;
}
@media (max-width:500px) {
  .head-container {
    color: white;
    background: #a599b5;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .head-container .logo {
    width: 100%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .head-container .logo h1 {
    font-size: 3.2rem;
  }
  .head-container .logo h3 {
    font-size: 1.4rem;
  }
  .head-container .Nav nav {
    width: 98%;
    font-size: 1.6rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .head-container .Nav nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    color: white;
    background: #a599b5;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    border: inset;
  }
}
#intro {
  display: flex;
  justify-content: center;
}
#intro #intro-info {
  display: flex;
  width: 60%;
}
@media (max-width:500px) {
  #intro #intro-info #intro-a img {
    width: 100%;
    padding-bottom: 3%;
  }
}
#intro #intro-info #intro-b {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}
#intro #intro-info #intro-b h1 {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width:500px) {
  #intro #intro-info #intro-b h1 {
    margin: 3% 0 3% 3%;
  }
}
@media (max-width:500px) {
  #intro #intro-info {
    flex-direction: column;
    justify-content: center;
  }
}
#target-goals {
  display: flex;
  justify-content: center;
}
#target-goals #target-goals-info {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}
#target-goals #target-goals-info #target-goals-info-a {
  width: 40%;
  margin: 1% 0 1% 0;
}
#target-goals #target-goals-info #target-goals-info-a h2 {
  margin-bottom: 2%;
  font-weight: bold;
}
#target-goals #target-goals-info #target-goals-info-b {
  width: 40%;
  margin: 1% 0 1% 0;
}
#target-goals #target-goals-info #target-goals-info-b h2 {
  margin-bottom: 2%;
  font-weight: bold;
}
@media (max-width:500px) {
  #target-goals {
    margin-top: 2%;
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
  }
}
#listings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#listings img {
  width: 175px;
  height: 175px;
}
#listings h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 1% 0 1% 0;
}
#listings #listings-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 60%;
}
#listings #listings-container section {
  display: flex;
  padding-bottom: 1%;
  width: 40%;
  font-style: italic;
}
@media (max-width:500px) {
  #listings #listings-container section {
    width: 100%;
    padding-bottom: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #listings #listings-container section img {
    width: 80%;
  }
}
#listings #listings-container section p {
  margin: 2%;
}
@media (max-width:500px) {
  #listings #listings-container {
    flex-direction: column;
  }
}
h1 {
  font-size: 3rem;
}
@media (max-width:500px) {
  h1 {
    font-size: 1.6rem;
  }
}
@media (max-width:1000px) {
  h1 {
    font-size: 2rem;
  }
}
h3 {
  font-size: 1.6rem;
  text-align: left;
}
@media (max-width:500px) {
  h3 {
    font-size: 1.4rem;
  }
}
@media (max-width:1000px) {
  h3 {
    font-size: 1.8rem;
  }
}
.Top-content .myimg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width:500px) {
  .Top-content .myimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
  }
}
@media (max-width:500px) {
}
.Top-content .img1,
.Top-content .img2,
.Top-content .img3,
.Top-content .img4,
.Top-content .img5,
.Top-content .img6 {
  width: 12%;
  background: black;
  color: white;
  margin: 2%;
}
.Top-content .img1 .t-pic,
.Top-content .img2 .t-pic,
.Top-content .img3 .t-pic,
.Top-content .img4 .t-pic,
.Top-content .img5 .t-pic,
.Top-content .img6 .t-pic {
  width: 100%;
  height: 100%;
}
.Top-content .img1 .t-pic .t-img,
.Top-content .img2 .t-pic .t-img,
.Top-content .img3 .t-pic .t-img,
.Top-content .img4 .t-pic .t-img,
.Top-content .img5 .t-pic .t-img,
.Top-content .img6 .t-pic .t-img {
  width: 100%;
  height: 150px;
  border-radius: 50%;
}
.Top-content .img1 .t-txt,
.Top-content .img2 .t-txt,
.Top-content .img3 .t-txt,
.Top-content .img4 .t-txt,
.Top-content .img5 .t-txt,
.Top-content .img6 .t-txt {
  height: 30%;
  background: #a599b5;
  opacity: 50%;
  width: 100%;
  font-size: 1.6rem;
  color: black;
}
@media (max-width:500px) {
  .Top-content {
    margin-top: 5%;
  }
  .Top-content .myimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Top-content .myimg .img1,
  .Top-content .myimg .img2,
  .Top-content .myimg .img3,
  .Top-content .myimg .img4,
  .Top-content .myimg .img5,
  .Top-content .myimg .img6 {
    border: 1px solid pink;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 3%;
  }
  .Top-content .myimg .img1 .t-pic,
  .Top-content .myimg .img2 .t-pic,
  .Top-content .myimg .img3 .t-pic,
  .Top-content .myimg .img4 .t-pic,
  .Top-content .myimg .img5 .t-pic,
  .Top-content .myimg .img6 .t-pic {
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .Top-content .myimg .img1 .t-pic .t-img,
  .Top-content .myimg .img2 .t-pic .t-img,
  .Top-content .myimg .img3 .t-pic .t-img,
  .Top-content .myimg .img4 .t-pic .t-img,
  .Top-content .myimg .img5 .t-pic .t-img,
  .Top-content .myimg .img6 .t-pic .t-img {
    width: 50%;
    border-radius: 50%;
    margin-bottom: 10%;
  }
  .Top-content .myimg .img1 .t-txt,
  .Top-content .myimg .img2 .t-txt,
  .Top-content .myimg .img3 .t-txt,
  .Top-content .myimg .img4 .t-txt,
  .Top-content .myimg .img5 .t-txt,
  .Top-content .myimg .img6 .t-txt {
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 2%;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
@media (min-width:1001px) {
  table,
  th,
  td {
    display: none;
    border: 1px solid black;
  }
  table tr:nth-child(even),
  th tr:nth-child(even),
  td tr:nth-child(even) {
    display: none;
  }
  table tr:nth-child(odd),
  th tr:nth-child(odd),
  td tr:nth-child(odd) {
    display: none;
  }
  table th,
  th th,
  td th {
    display: none;
  }
}
@media (max-width:500px) {
  table,
  th,
  td {
    margin: 2% auto;
    padding: 4%;
  }
  table tr:nth-child(even),
  th tr:nth-child(even),
  td tr:nth-child(even) {
    background-color: #eee;
  }
  table tr:nth-child(odd),
  th tr:nth-child(odd),
  td tr:nth-child(odd) {
    background-color: #ffa;
    color: navy;
  }
  table th,
  th th,
  td th {
    background-color: black;
    color: white;
  }
}
.head-container {
  color: white;
  background: #a599b5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.head-container .logo {
  width: 28%;
  margin: 2%;
  font-size: 3.5rem;
  justify-content: center;
  align-items: center;
}
.head-container .Nav {
  width: 100%;
}
.head-container .Nav nav {
  font-size: 1.6rem;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.head-container .Nav nav a {
  width: 18%;
  font-size: 1.2rem;
  color: white;
  background: ;
  padding: 22px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  border: inset;
}
@media (max-width:500px) {
  .head-container {
    color: white;
    margin-bottom: 2%;
    background: #a599b5;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .head-container .logo {
    width: 100%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .head-container .logo h1 {
    font-size: 3.2rem;
  }
  .head-container .logo h3 {
    font-size: 1.4rem;
  }
  .head-container .Nav nav {
    width: 98%;
    font-size: 1.4rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .head-container .Nav nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    color: white;
    background: #a599b5;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    border: inset;
  }
}
* {
  box-sizing: border-box;
}
body {
  width: 96%;
  margin: 0% auto;
  height: 95vh;
  font-size: 62.5%;
}
.container,
footer {
  width: 100%;
}
.content {
  margin: 15%;
  background: #f1f1f1;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  font-size: 1.6rem;
}
.middle-content {
  width: 100%;
  padding: 10px;
  margin: 1%;
}
.middle-content .parent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width:500px) {
  .middle-content .parent {
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
  }
}
.middle-content .parent .childOne {
  border-right: 1px solid gray;
}
.middle-content .parent .childOne,
.middle-content .parent .childTwo {
  width: 28%;
  height: auto;
  padding: 2%;
  margin: 2%;
  background: #a599b5;
  line-height: 1.2;
  text-align: center;
  display: flex;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
}
@media (max-width:500px) {
  .middle-content .parent .childOne,
  .middle-content .parent .childTwo {
    display: none;
  }
}
.middle-content .parent .childOne .pic,
.middle-content .parent .childTwo .pic {
  width: 100%;
  height: 100%;
}
.middle-content .parent .childOne .pic .co-div img,
.middle-content .parent .childTwo .pic .co-div img {
  margin: 2%;
  width: 50%;
  border-radius: 50%;
}
.middle-content .parent .childOne .pic .t-img,
.middle-content .parent .childTwo .pic .t-img {
  width: 50%;
  height: 150px;
}
@media (max-width:500px) {
  .middle-content .parent .childOne .pic,
  .middle-content .parent .childTwo .pic {
    width: 98%;
  }
}
.middle-content .parent .childOne .pic .co,
.middle-content .parent .childTwo .pic .co {
  width: 100%;
  height: 100px;
  border-radius: 10%;
}
@media (max-width:500px) {
  .middle-content .parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.Top-content .myimg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width:500px) {
  .Top-content .myimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
  }
}
@media (max-width:500px) {
}
.Top-content .img1,
.Top-content .img2,
.Top-content .img3,
.Top-content .img4,
.Top-content .img5,
.Top-content .img6 {
  width: 12%;
  background: black;
  color: white;
  margin: 2%;
}
.Top-content .img1 .t-pic,
.Top-content .img2 .t-pic,
.Top-content .img3 .t-pic,
.Top-content .img4 .t-pic,
.Top-content .img5 .t-pic,
.Top-content .img6 .t-pic {
  width: 100%;
  height: 100%;
}
.Top-content .img1 .t-pic .t-img,
.Top-content .img2 .t-pic .t-img,
.Top-content .img3 .t-pic .t-img,
.Top-content .img4 .t-pic .t-img,
.Top-content .img5 .t-pic .t-img,
.Top-content .img6 .t-pic .t-img {
  width: 100%;
  height: 150px;
  border-radius: 50%;
}
.Top-content .img1 .t-txt,
.Top-content .img2 .t-txt,
.Top-content .img3 .t-txt,
.Top-content .img4 .t-txt,
.Top-content .img5 .t-txt,
.Top-content .img6 .t-txt {
  height: 30%;
  background: #a599b5;
  opacity: 50%;
  width: 100%;
  font-size: 1.6rem;
  color: black;
}
@media (max-width:500px) {
  .Top-content {
    margin-top: 5%;
  }
  .Top-content .myimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Top-content .myimg .img1,
  .Top-content .myimg .img2,
  .Top-content .myimg .img3,
  .Top-content .myimg .img4,
  .Top-content .myimg .img5,
  .Top-content .myimg .img6 {
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Top-content .myimg .img1 .t-pic,
  .Top-content .myimg .img2 .t-pic,
  .Top-content .myimg .img3 .t-pic,
  .Top-content .myimg .img4 .t-pic,
  .Top-content .myimg .img5 .t-pic,
  .Top-content .myimg .img6 .t-pic {
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .Top-content .myimg .img1 .t-pic .t-img,
  .Top-content .myimg .img2 .t-pic .t-img,
  .Top-content .myimg .img3 .t-pic .t-img,
  .Top-content .myimg .img4 .t-pic .t-img,
  .Top-content .myimg .img5 .t-pic .t-img,
  .Top-content .myimg .img6 .t-pic .t-img {
    width: 50%;
    border-radius: 50%;
  }
  .Top-content .myimg .img1 .t-txt,
  .Top-content .myimg .img2 .t-txt,
  .Top-content .myimg .img3 .t-txt,
  .Top-content .myimg .img4 .t-txt,
  .Top-content .myimg .img5 .t-txt,
  .Top-content .myimg .img6 .t-txt {
    margin: 3%;
    padding: 2%;
    width: 100%;
    height: 300px;
    text-align: center;
  }
}
@media (min-width:1001px) {
  table,
  th,
  td {
    display: none;
    border: 1px solid black;
  }
  table tr:nth-child(even),
  th tr:nth-child(even),
  td tr:nth-child(even) {
    display: none;
  }
  table tr:nth-child(odd),
  th tr:nth-child(odd),
  td tr:nth-child(odd) {
    display: none;
  }
  table th,
  th th,
  td th {
    display: none;
  }
}
@media (max-width:500px) {
  table,
  th,
  td {
    margin: 2% auto;
    padding: 4%;
    border: 1px solid black;
  }
  table tr:nth-child(even),
  th tr:nth-child(even),
  td tr:nth-child(even) {
    background-color: #eee;
  }
  table tr:nth-child(odd),
  th tr:nth-child(odd),
  td tr:nth-child(odd) {
    background-color: #ffa;
    color: navy;
  }
  table th,
  th th,
  td th {
    background-color: black;
    color: white;
  }
}
#footer {
  display: flex;
  justify-content: center;
  border: none;
}
#footer #footer-content {
  display: flex;
  width: 60%;
  color: white;
  background-color: #a599b5;
  padding: 1%;
}
@media (max-width:500px) {
  #footer #footer-content {
    flex-direction: column;
  }
}
#footer #app-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#footer #app-button a {
  text-decoration: none;
}
#footer #app-button div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8d1d1;
  color: #2c2929;
  height: 60px;
  width: 600px;
  border-radius: 1rem;
}
@media (max-width:500px) {
  #footer #app-button div {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c8d1d1;
    color: #2c2929;
    height: 20px;
    width: 150px;
    border-radius: 1rem;
  }
}
