@theme-color: #a599b5;
//@content-color: rgb(114, 110, 110);
@default-margin: 60%;
@inner-margin: 40%;

// Variables

// Color pointers
@header-bg: @blue;
@nav-font: @white;
@nav-border: @border-col;

// Color Vars
@blue: #a599b5;
@white: #f1f1f1;
@border-col: #f1f1ff;
//background color = #CDDDDD header and footer colors =  #A599B5
//margin vars
@space-margin: 2%;

// Mobile var
@tablet: ~"(max-width:1000px)";
@desktop: ~"(min-width:1001px)";
@phone: ~"(max-width:500px)";

@mobil: ~"(max-width:500px)";
